* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
}


/* Navigation bar */

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: #007bff!important;
}

.navbar {
    background-color: #ffffff;
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    color: #555555 !important;
    font-weight: 600;
    font-size: 16px;
}

.nav-link:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    transition: ease 0.1s;
}


/* about page */

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555555;
    background-color: #efefef;
}


/* #about h2 {
    text-align: center;
    padding-bottom: 20px;
} */

.col-md-4 {
    width: 100%;
}

.col-md-4 img {
    width: 100%;
}

.about-content {
    padding-top: 40px;
}


/* .skills-bar p {
    margin-bottom: 6px;
    font-weight: 600;
}

.progress {
    border-radius: 16px;
    margin-bottom: 20px;
}

.progress-bar {
    border-radius: 16px;
} */

#box {
    padding: 50px 0;
}

#box .row {
    margin-top: 30px;
}

#box .col-md-4 {
    margin: 40px auto;
}

.profile {
    padding: 70px 10px 10px;
    background-color: #efefef;
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    font-size: 45px;
    top: -40px;
    left: calc(50% - 50px);
    background-color: #007bff;
    color: #ffffff!important;
    padding: 16px;
}

.profile h3 {
    font-size: 25px;
    margin-top: 15px;
    color: #007bff;
}

.profile p {
    font-size: 18px;
    color: #333333;
}

.profile:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}


/* team members */

#team {
    padding: 50px 0;
    color: #555555;
}

h1 {
    text-align: center;
    color: #555555 !important;
    padding-bottom: 10px;
}

h1::after {
    content: '';
    background-color: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.profile-pic {
    margin-top: 25px;
}

.profile-pic .img-box {
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img {
    filter: grayscale(1);
    width: 80%;
}

.profile-pic .img-box img:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h2 {
    font-size: 22px;
    margin-top: 15px;
    font-weight: bold;
    color: #007bff;
}

.profile-pic h3 {
    font-size: 15px;
    margin-top: 15px;
    font-weight: bold;
}

#team .fab {
    height: 25px;
    width: 25px;
    color: #007bff!important;
    background-color: #ffffff;
    padding: 4px;
    border-radius: 50%;
}

.img-box ul {
    padding: 25px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    margin-bottom: 110px;
}

.img-box ul li {
    display: inline-block;
    padding: 5px;
}

.img-box:hover ul {
    opacity: 1;
}

.img-box ul,
.img-box ul li {
    transition: 0.5s;
}


/* more */

#box {
    padding: 50px 0;
}


/* quick links */

#quick-link {
    padding: 50px 0;
    background-color: #4b4848;
    color: #ffffff;
}

#quick-link p {
    padding-top: 20px;
}

.link {
    padding-top: 20px;
}

.link ul {
    float: left;
}

.link ul li {
    list-style: none;
    padding-bottom: 20px;
}

.link a {
    color: #ffffff;
    text-decoration: none;
}

.link a .fas {
    padding: 4px;
    color: white;
}

.connect {
    padding-top: 20px;
}

.connect ul {
    float: left;
}

.connect ul li {
    list-style: none;
    padding-bottom: 20px;
}

.connect ul li a {
    color: #ffffff;
    font-size: 18px;
    margin-left: 5px;
}

.connect ul li .fab {
    font-size: 20px;
    margin-right: 15px;
}

.contact-form {
    padding-top: 20px;
}

.contact-form .btn {
    background-color: #4b4848!important;
    border: white solid 2px;
}

.contact-form .btn:hover {
    background-color: #ffffff!important;
    color: #4b4848;
    transition: 0.5s;
}

.form-group input,
.form-group textarea {
    background-color: #4b4848!important;
    border: white solid 2px;
    color: #ffffff!important;
}

::placeholder {
    color: #ffffff!important;
}

.contact-form:focus {
    outline: none!important;
    box-shadow: none !important;
}


/* footer */

#footer {
    background-color: #333333;
    color: white;
    padding: 12px;
}

.far {
    color: red;
    margin: 3px;
}