* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
}


/* Navigation bar */

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: #007bff!important;
}

.navbar {
    background-color: #ffffff;
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    color: #555555 !important;
    font-weight: 600;
    font-size: 16px;
}

.nav-link:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    transition: ease 0.1s;
}


/* portfolio */

#portfolio {
    background-color: #efefef;
    padding: 40px 0;
    color: #777777;
}

h1 {
    text-align: center;
    color: #555555 !important;
    padding-bottom: 10px;
}

h1::after {
    content: '';
    background-color: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.gallery {
    width: 100%;
}

.gallery img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.gallery:hover .overlay {
    opacity: 0.7;
}

.text {
    color: white;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1;
}

.text p {
    font-size: 16px;
    text-transform: none;
}


/* quick links */

#quick-link {
    padding: 50px 0;
    background-color: #4b4848;
    color: #ffffff;
}

#quick-link p {
    padding-top: 20px;
}

.link {
    padding-top: 20px;
}

.link ul {
    float: left;
}

.link ul li {
    list-style: none;
    padding-bottom: 20px;
}

.link a {
    color: #ffffff;
    text-decoration: none;
}

.link a .fas {
    padding: 4px;
    color: white;
}

.connect {
    padding-top: 20px;
}

.connect ul {
    float: left;
}

.connect ul li {
    list-style: none;
    padding-bottom: 20px;
}

.connect ul li a {
    color: #ffffff;
    font-size: 18px;
    margin-left: 5px;
}

.connect ul li .fab {
    font-size: 20px;
    margin-right: 15px;
}

.contact-form {
    padding-top: 20px;
}

#quick-link .contact-form .btn {
    background-color: #4b4848!important;
    border: white solid 2px;
}

#quick-link .contact-form .btn:hover {
    background-color: #ffffff!important;
    color: #4b4848;
    transition: 0.5s;
}

button .btn:focus {
    outline: none!important;
    box-shadow: none !important;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    background-color: #4b4848!important;
    border: white solid 2px;
    color: #ffffff!important;
}

::placeholder {
    color: #ffffff!important;
}


/* footer */

#footer {
    background-color: #333333;
    color: white;
    padding: 12px;
}

.far {
    color: red;
    margin: 3px;
}